
<form action="/player" method="POST">
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" required value="{{player.name}}"><br>

    <label for="age">Idade</label>
    <input type="text" name="age" id="age" required value="{{player.age}}"><br>

    <label for="position">Posição</label>
    <!-- O segundo valor estará selecionado inicialmente -->
    <select name="position" id="position" required>
        <option value="..." disabled>Selecione a posição</option>
        <option value="Atacante">Atacante</option>
        <option value="Meia">Meia</option>
        <option value="Volante">Volante</option>
        <option value="Zagueiro">Zagueiro</option>
        <option value="Goleiro">Goleiro</option>
    </select><br>

    <label for="team">Time</label>
    <input type="text" name="team" id="team" required value="{{player.team}}"><br>

    
    <button type="submit">Cadastrar</button>
</form>
<script>
    console.log('oie' , {{name}})
</script>
