<form action="/user" method="POST">
    <label for="name">Nome</label>
    <input type="text" name="name" id="name"><br>

    <label for="age">Idade</label>
    <input type="text" name="age" id="age"><br>

    <button type="submit">Cadastrar</button>
</form>