<div>
    <h1>users</h1>
    {{#each users}}
        <table style="text-align:center; border: 1px solid black">
            <tr>
                <td style="border: 1px solid black">id</td> 
                <td style="border: 1px solid black">nome</td>
                <td style="border: 1px solid black">age</td>
            </tr>
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.age}}</td>
            </tr>
        </table>

    {{/each}}


</div>