<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/output.css">
</head>
<body>
    <nav class="bg-black text-white p-6 gap-4" >
        <ul class="flex gap-6 items-center">
            <li><a class="text-3xl" href="/">Home</a></li>
            <li><a class="nav-link active" href="/players">Jogadores</a></li>
        </ul>
    </nav>
    <main class="m-10">

        {{{body}}}{{!-- Renderiza conteudos dos site --}}
    </main>
</body>
</html>