<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style src="../../assets/css/output.css"></style>
</head>
<body>
    <header class="bg-blue-400 p-10">
        <h1>Logo</h1>
    </header>
    {{{body}}}{{!-- Renderiza conteudos dos site --}}
</body>
</html>